
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');


body {
    margin: 0;
    // min-height: 100vh;
    // overflow: hidden;
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #23252C;
}

.card {
    background-color: #1A1B21;
    height: 780px;
    width: 317px;
    border-radius: 10px;
    font-family: 'Inter';
}
.header {
    height: 317px;
    border-radius: 10px 10px 0px 0px;
}

.main{
    color: white;
    height: 399px;
}

 .my-name{
    text-align: center;
    padding-top: 21px;
 }

h2{
    margin: 0;
 }

 h3{
    margin-bottom: 0;
 }
.social-media{
    // background-color: aqua;
    display: flex;
    justify-content: center;
    column-gap: 17px;
    margin-top: 10px;

}

button {
    display: flex;
    width: 115px;
    padding: 9px 13px 9px 11px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 6px;
    border: 1px solid #D1D5DB;
    background-color: #FFF;
     cursor: pointer;
}

.linkedin-button {
    background-color: #5093E2;
    color: #FFF;
}

.personal-info {
    padding-left: 36px;
    padding-right: 34px;
}

.about-me{
    color: #DCDCDC;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
}
.footer{
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    background-color: #161619;
    border-radius: 0px 0px 10px 10px;
}
.logo {
    cursor: pointer;
}
.career {
    color: #F3BF99;
    font-size: 12.8px;
    font-weight: 400;
}
.adress {
    color: #F5F5F5;
    font-size: 10.24px;
    font-weight: 400;
}
//  span{
//     padding-bottom: 10px;
//  }